*{
    padding: 0;
    margin: 0;
}

main {
    text-align: center;
    width: 30%;
    height: 100%;
    margin: 10% auto auto auto;
    padding:1%;
    border: 5px solid #F39C12;
}

h1 {
    margin: 0% 0% 10% 0%;
}

.orangeText {
    color:#F39C12;
}

#confirmationText{
  color: green;
}

.line {
    margin:-8% auto 5% auto;
    width: 50%;
    height: 3px;
    background-color: #2C3E50;
}

ul {
    border: 1px solid black;
    width: 10%;
    margin: auto;
    overflow-y: scroll;
    max-height: 200px;
}

.date {
    list-style: none;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

.date:hover{
    background-color: #dfe6e9;
}

.toggleOff{
    display: none;
}

#dropDownBtn {
    padding: 10px;
    width:120px;
    height: 48px;
    width: 208px;
}

.optionBox {
    display:flex;
    justify-content: space-between;
    line-height: 40px;
    text-align: center;
    margin: 2% 0% 0% 2%
}

input, button, select {
    height: 40px;
    width: 200px;
    border-radius: 0px;
    border: 4px solid #2C3E50;
    background-color: white;
    text-align:center;
}

select {
    height:48px;
    width: 208px
}

#confirmBtn {
    padding: 10px;
    height: 50px;
    width: 210px;
    background-color: #2C3E50;
    border-radius: 25px;
    text-transform: uppercase;
    color:white;
    letter-spacing: .1em;
}

#confirmBox {
    margin:10%;
}

#error {
  color: red;
}
